<h1 class="ui header">
  陸逼台鋼鐵代表離場 藉口層級不夠高
</h1>
<p>（中央社記者戴雅真台北19日電）外交部今天表示，台灣代表團昨天出席比利時與經合組織舉辦的國際鋼鐵會議，中國大陸以「層級不夠高」要求台灣代表離席，但其實他國代表團參與層級與台灣相仿。</p>
<p>這場由比利時政府與經濟合作暨發展組織（OECD）共同舉辦的國際鋼鐵會議，昨天起在布魯塞爾召開，台灣代表團雖非經合組織會員國，但以對話夥伴身分獲邀參加會議，但昨天卻在大陸的抗議下，無法順利參與會議。儘管代表團積極爭取，但在主辦單位比利時政府出面要求後，仍被迫離開會場。台灣代表團將如期參加後續會議。</p>
<p>外交部國際組織司長徐佩勇上午在外交部例行記者會表示，台灣2005年起以觀察員身分參與OECD鋼鐵委員會，過去每次開會都積極派員參與並做出具體貢獻，獲得OECD及各會員國肯定。</p>
<p>徐佩勇說明，這次台灣代表團由經濟部工業局組長沈維正率團出席在布魯塞爾舉辦的會議。會議分兩部分，首先是4月18日的「鋼鐵部門產能過剩及結構調整高階會議」，及今天舉行的鋼鐵委員會會議。</p>
<p>徐佩勇表示，4月18日會議分為上午、下午，上午開放業界代表參與，台灣代表團順利參加，發生問題的是在下午限定官員參與的對話會議，因為大陸干擾而退場。</p>
<p>外交部發言人王珮玲表示，昨天會議由比利時政府及OECD共同主辦，據了解，陸方向比方交涉，要求台灣代表團退場的理由是「台灣代表團長的位階並非高階」，但台灣代表團長位階與其他代表團相仿，台灣過去也都是派組長級位階參與會議。</p>
<p>徐佩勇表示，過去舉辦鋼鐵委員會時，台灣代表團都有參與限定高階官員參與的對話會議，並沒有問題。</p>
<p>徐佩勇指出，有關大陸打壓台灣代表團出席昨天下午高階官員對話會議，政府已經透過行政院大陸委員會向中國大陸表達嚴正抗議。由於昨天會議由比利時政府共同舉辦，駐歐盟兼比利時代表處也向比利時政府提出嚴正抗議；OECD總部在法國巴黎，也同步由駐法國代表處向OECD提出嚴正抗議。</p>
<p>徐佩勇表示，抗議方式有口頭也有書面，台灣代表團被迫離場令人無法接受，因此同步透過3個方式表達政府嚴正立場與抗議。外交部後續也請駐歐盟兼比利時代表處、駐法代表處和比利時政府及OECD持續交涉，並呈報相關進展。1050419</p>

<p>資料來源：<a href="https://tw.news.yahoo.com/%E9%99%B8%E9%80%BC%E5%8F%B0%E9%8B%BC%E9%90%B5%E4%BB%A3%E8%A1%A8%E9%9B%A2%E5%A0%B4-%E8%97%89%E5%8F%A3%E5%B1%A4%E7%B4%9A%E4%B8%8D%E5%A4%A0%E9%AB%98-035621890.html">Yahoo 新聞</a></p>