<h1 class="ui header">
  菜又貴了 空心菜1把漲10元
</h1>
<p>
  <span data-level="1">台北果菜市場今天開市</span>
  <span data-level="2">，整體交易均價如農委會上週預測</span>
  <span data-level="1">，受葉菜類供應量減少影響</span>
  <span data-level="1">，從17日每公斤新台幣 27.8 元，今天漲為 33.1 元</span>
  <span data-level="4">，空心菜、小白菜 1 把約 25 元，上週 15 元</span>
  <span data-level="1">。</span>
</p>
<p>
  <span data-level="2">消費者可能要習慣菜價起伏不定了</span>
  <span data-level="5">，氣溫受氣候變遷影響</span>
  <span data-level="3">，今年冬天以來，約 2 週一次的溫度上下震盪與晴雨交替</span>
  <span data-level="4">，儘管目前已經入春，氣溫仍變化多端</span>
  <span data-level="2">，好不容易上週菜價回穩</span>
  <span data-level="3">，可以 10 多元買 1 把</span>
  <span data-level="2">，今天一開市，又漲至 25 元</span>
  <span data-level="5">，上漲 10 元之多</span>
  <span data-level="2">。</span>
</p>
<p>
  <span data-level="2">除了空心菜、小白菜漲價，</span>
  <span data-level="4">地瓜葉 1 把要 30 元以上，</span>
  <span data-level="1">農委會農糧署建議可以先買高麗菜，雖然有漲</span>
  <span data-level="4">，上週最低價 2 顆 90 元</span>
  <span data-level="5">，或 1 顆 50、60 元</span>
  <span data-level="1">，今天 1 顆仍約 60、70 元，價格還算持平</span>
  <span data-level="1">。</span>
</p>
<p>資料來源：<a href="https://tw.news.yahoo.com/%E8%8F%9C%E5%8F%88%E8%B2%B4%E4%BA%86--%E7%A9%BA%E5%BF%83%E8%8F%9C1%E6%8A%8A%E6%BC%B210%E5%85%83-041904590.html">Yahoo 新聞</a></p>