<h1 class="ui header">電腦</h1>

<p>
  <span data-level="1">電子計算機（英語：computer），</span>
  <span data-level="3">亦稱電腦或計算機，</span>
  <span data-level="1">是一種利用電子學原理，根據一系列指令來對資料進行處理的工具。</span>
</p>
<p>
  <span data-level="1">在現代，機械電腦的應用已經完全被電子電腦所取代，</span>
  <span data-level="2">其所相關的技術研究叫電腦科學，</span>
  <span data-level="4">而「電腦技術」指的是將電腦科學的成果應用於工程實踐所衍生的諸多技術性和經驗性成果的總合。</span>
  <span data-level="5">「電腦技術」與「電腦科學」是兩個相關而又不同的概念，</span>
  <span data-level="2">它們的不同在於前者偏重於實踐而後者偏重於理論。</span>
  <span data-level="1">此外，電子計算機亦被形象地稱作電腦。</span>
  <span data-level="3">至於由資料為核心的研究則稱為資訊科技，</span>
  <span data-level="3">通常人們接觸最多的是個人電腦。</span>
</p>
<p>資料來源：<a href="https://zh.wikipedia.org/wiki/%E9%9B%BB%E5%AD%90%E8%A8%88%E7%AE%97%E6%A9%9F">Wikipedia</a></p>