<h1 class="ui header">肯亞案明啟程赴陸協商 法務部盼帶回台嫌</h1>

<p>針對肯亞案，中國大陸昨晚通知我方前去協商，因此，由法務部率團的專案小組明天將啟程赴陸。法務部次長陳明堂今天(19日)表示，這次最主要的協商目標是要帶回台灣嫌犯與相關卷證，他也強調，以過去經驗，不可能一次就談成，很多細節之後要再繼續協商，相關單位會盡量爭取時間與空間。</p>
<p>45名涉及肯亞電信詐騙的台灣民眾日前被遣送到中國大陸，由陸委會、海基會、法務部及內政部警政署刑警局組成的專案小組20日將啟程赴中國大陸協商、調查。</p>
<p>法務部次長陳明堂19日受訪時表示，兩岸是根據共同打擊犯罪及司法互助協議，由法務部與大陸公安部聯繫，法務部17日就將正式函件傳給大陸，原本是希望18日出團，但大陸以有事在忙為由暫緩，不過，18日晚間7時多就以電話通知我方20日出團，並以原先的3天為期。</p>
<p>陳明堂指出，2011年14名台灣嫌犯從菲律賓被遣送到大陸事件，之後歷經5個月嫌犯才被帶回台灣，以過去經驗，兩岸司法協商不可能一次就談成，相關部會會盡量爭取時間與空間，主要的協商重點包括帶回台灣嫌犯、相關卷證以及人道探視。他說：『(原音)基本的目的是針對於偵辦相關卷證如何來給我們，人員能不能送回來，是怎麼樣送回來台灣受審這個可能性，盡量來磋商，另外還有人道探視這兩大塊。』</p>
<p>對於大陸安排台灣嫌犯在媒體前接受公安偵訊並公開認罪，陳明堂說，這不符合司法審判制度，在各國的訴訟程序上，這樣的認罪不能做為證據，這在某種程度上也不符合人權，他希望大陸能秉持善意處理，專案小組在協商時也會提及相關看法。</p>
<p>至於大陸媒體近日不斷批評台灣是詐騙王國，且有許多受害的大陸民眾出面指控，陳明堂表示，兩岸法治不同，但台灣之前已修法加重詐騙罪刑，且一罪一罰，兩岸對於司法制度可以溝通，但民間不該做惡意攻擊，如此才有利於雙方的合作、談判。</p>

<p>資料來源：<a href="https://tw.news.yahoo.com/%E8%82%AF%E4%BA%9E%E6%A1%88%E6%98%8E%E5%95%9F%E7%A8%8B%E8%B5%B4%E9%99%B8%E5%8D%94%E5%95%86-%E6%B3%95%E5%8B%99%E9%83%A8%E7%9B%BC%E5%B8%B6%E5%9B%9E%E5%8F%B0%E5%AB%8C-044500058.html">Yahoo 新聞</a></p>