<h1 class="ui header">
  想法一、針對 KPD 更改用詞深淺、濃縮或重組句子
</h1>
<p>在本專案裡，只是簡單用顯示不同的句子來調整 KPD，若是可以根據不同目標的 KPD 調整用字深淺，甚至重新組合和濃縮句子，可以做到什麼地步？</p>
<h1 class="ui header">
  想法二、針對使用者背景調整 KPD
</h1>
<p>如果在搜集足夠多單一用戶資料後，透過這些資料推斷用戶對這篇文章的理解程度，以直接呈現不同 KPD 的結果，可以滿足更多閱讀者嗎？</p>
<h1 class="ui header">
  想法三、用戶的愛好知識
</h1>
<p>若是可以有用戶的資料，那在內文中如果可以直接產生用戶愛好的相關知識，那可以成為什麼樣的體驗？</p>

<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
  this.page.url = "http://asoul.github.io/knowledge-particle-density";
  this.page.identifier = "KNOWLEDGE_PARTICLE_DENSITY";
};
(function() {
var d = document, s = d.createElement('script');
s.src = '//knowledgeparticledensity.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>