<div class="ui grid">
  <div class="twelve wide column">
    <div class="ui secondary menu">
      <a ui-sref="samples.sample1" class="item">範例一</a>
      <a ui-sref="samples.sample2" class="item">範例二</a>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui buttons right aligned">
      <button class="ui olive button" ng-click="changeKPS(-1)">▼</button>
      <div class="or" id="kps-text"></div>
      <button class="ui green button" ng-click="changeKPS(1)">▲</button>
    </div>
  </div>
</div>

<div ui-view></div>